html {
    scroll-behavior: smooth;
  }

.container-fluid {
    background-image: url("/images/guilherme-madaleno-AmCj2sJD8p8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar {
    min-width: 200px;
    max-width: 300px;
    min-height: 100vh;
    max-height: 4500px;
    background-color:rgba(230, 96, 0, 0.90);
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
}

.navbar-header {
    text-align: center;
}

.avatar {
    margin-top: 30px;
    margin-bottom: 10px; 
    width: 175px;
}

.navbar-brand {
    color:	white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
}

.navbar-brand:hover {
    color:	white;
    text-decoration: none;
}

#nav-area {
    height: 100vh;
}

.navbar-text {
    color: black;
    font-size: 16px;
    padding-top: 0px;
}

.navbar-text:hover {
    color: black;
    text-decoration: none;
}

.navbar-nav {
    margin-top: 40px;
    margin-left: 20px;
}

.nav-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
  }

.nav-link:hover {
    color:black
}

@media only screen and (max-width: 575px) {
    #navbar {
        max-width: 200px;
    }
    #nav-area {
        min-width: 192px;
    }
    .navbar-header {
        min-width: 192px;
    }
}

#main-home {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    padding-top: 75px;
    background-color: rgba(255, 255, 255, 0.75);
}

#main-home h1 {
    color:#e66000;
    font-weight: bold;
}

#home-text {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

#resume-button {
    color: #565656;
    font-weight: bold;
    text-shadow: none;
    padding: 12px;
    border-radius: 1px;
    border-style: solid;
    border-color: #565656;
    transition: 0.3s;
}
  
#resume-button:hover {
    text-decoration: none;
    color:#e66000;
    border-color:#e66000;
}
  
#resume-button a, #resume-button a:hover {
    color: #565656;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    background-color:white;
}

#main-portfolio {
    font-family: 'DM Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.95);
}

#portfolio-header {
    padding-top: 40px;
    padding-bottom: 25px;
}

#portfolio-header h1 {
    text-align: center;
    color: #e66000;
    font-weight: bold;
}

.portfolio-entry {
    color: black;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: 14px;
    padding-bottom: 20px;
}

.portfolio-entry h2 {
    color: #e66000;
}

.portfolio-entry a:hover {
    text-decoration: none;
}

.portfolio-date {
    font-weight: bold;
    font-size: 16px;
    color: #565656;
    margin-top: -5px;
}

.portfolio-entry img {
    width: 400px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#main-contact {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    
}

#main-contact h1 {
    color:#e66000;
    font-weight: bold;
}

#contact-table {
    margin-top: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

#contact-table th {
    color:black;
    padding-top: 6px;
    padding-bottom: 6px;
}

#contact-table tr {
    overflow: hidden;
    white-space: nowrap;
}

#contact-table a {
    color:#e66000;
    padding-left: 20px;
}